header{
    background-color: darkblue;
    color: whitesmoke;
    text-align: center;
}
main{
    background-color: lightgrey;
    background-image: url(record.png);
}
body{
    background-repeat: repeat;
    margin: 0;
    padding: 1em;
}